<div class="container">
    <div class="row">
        <div class="col-12 mt-3" *ngFor="let plasma of availData">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="../../assets/images/Niramaya Blue-green.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{plasma.name}}</h4>
                        <table class="table" >
                            <!-- <caption>Availability</caption> -->
                            <thead>
                              <tr>
                                <th scope="col" *ngFor="let bloodg of plasma.availability |keyvalue">{{bloodg.key}}</th>
                              </tr>
                            </thead>

                            <thead>
                                <tr>
                                  <th scope="col" *ngFor="let bloodg of plasma.availability |keyvalue">{{bloodg.value}}</th>
                                </tr>
                              </thead>
                            
                          </table>
                          
                        <p class="card-text">{{plasma.address}}</p>
                        <p class="card-text">Contact: {{plasma.phone}}</p>
                        <!-- <button>Get Direction</button> -->
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last verified: {{plasma.last_updated_on |date:'M/d/yy, h:mm a'}}</small>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Other Sources</h3>
<div class="container">
    <div class="row">
      <div class="card-wrapper col-lg-4 col-md-6 col-xs-12" *ngFor ="let plasma of notAvailData">
        <div class="card not-avail-card">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="../../assets/images/Niramaya Blue-green.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title notAvail">{{plasma.name}}</h5>
            <div class="card-content-notAvail">
              <p class="card-text "><b>Address: </b>{{plasma.address}}</p>
              <p class="card-text "><b>Contact: </b>{{plasma.phone}}</p>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last verified: {{plasma.last_updated_on |date:'M/d/yy, h:mm a'}}</small>
        </div>
        </div>
        
      </div>
    </div>
</div>