<div class="container">

  <!-- Card deck -->
  <div class="card-deck row">
  
    <div class="col-12 col-sm-6 col-lg-4">
    <!-- Card -->
    <div class="card">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="../../../assets/images/redlinegraph.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body active">
  
        <!--Title-->
        <h4 class="card-title">{{totalCount.total | json}}</h4>
        <!--Text-->
        <p class="card-text">Total Cases</p>

      </div>
  
    </div>
    <!-- Card -->
    </div>
  
    <div class="col-12 col-sm-6 col-lg-4">
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="../../../assets/images/greenlinegraph.png" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body recovered">
  
        <!--Title-->
        <h4 class="card-title">{{totalCount.recovered}}</h4>
        <!--Text-->
        <p class="card-text">Recovered Cases</p>
      
      </div>
  
    </div>
    <!-- Card -->
  </div>
  
  <div class="col-12 col-sm-6 col-lg-4">
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="../../../assets/images/blacklinegraph.jpg" alt="Card image cap" style="height: 195px;">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body death">
  
        <!--Title-->
        <h4 class="card-title">{{totalCount.death}}</h4>
        <!--Text-->
        <p class="card-text">Deceased</p>
  
      </div>
  
    </div>
    <!-- Card -->
  </div>
   
  
    
  </div>
  <!-- Card deck -->
    
  </div>